body {
    background-color: #ccc;
    font-family : sans-serif, Helvetica, Verdana;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

svg.flame {
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 100;
    opacity: 1.0;
}

svg.person {
    opacity: 0.0;
}

svg.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 260px;
    height: 200px;
    margin-left: -125px;
    margin-top: -130px;;
    background-color: darkred;
    border-radius: 15px;;
}

svg.spinner {
    top: 50%;
    left: 50%;
    width: 360px;
    height: 300px;
    margin-left: -125px;
    margin-top: -130px;;
    border-radius: 15px;;
    /*opacity: 1.0;*/
    font-family: sans-serif;
    font-size: 35px;
    fill: red;
}

svg.spinner text {
    fill: red;
}

svg.spinner text tspan:nth-child(n+10) {
    fill: blue;
}

svg.spinner text tspan:nth-child(1) {
    fill: orange;
    /*stroke: orange;*/
    font-size: 30px;
    animation: anim 4s ease alternate infinite;
    -webkit-animation: anim 4s ease alternate infinite;
    /*animation-name: anim;*/
    /*animation-duration: 4s;*/
}

@-webkit-keyframes anim {
    0% {
        font-size: 30px;
        fill: red;
    }
    100% {
        font-size: 90px;
        fill: orange;
    }
}

div.computer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/resource/computer.svg');
    opacity: 0.0;
    transition: opacity 3s;
}

menu {
    position: fixed;
    top: 16px;
    right: 56px;
    z-index: 200;
    transition: opacity 1s;
    display: none;
}

menu button {
    font: 1.2em/1.4em  bold ;
    font-family : sans-serif, Helvetica, Verdana;

    color: darkblue;
    background-color: gold;
    float: right;
    clear: right;
    border: 5px;
    border-radius: 5px;
    margin: 3px;
    transition:background-color 1s;
    box-shadow: 8px 8px 12px #0af;

}
menu button:hover {
    background-color: skyblue;
    cursor: pointer;
}
menu button:active{
    transition:background-color 0.3s;
    background-color: greenyellow;
}
menu button:focus{
    box-shadow: 8px 8px 12px cyan;
    background-color: greenyellow;
}

menu ul li {
    list-style: none;
    margin-left: -60px;
    margin-right: 20px;
    cursor: pointer;
}

menu ul li:hover {
    background-color: red;
}

button.open-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 36px;
    width: 36px;
    cursor: pointer;
    border: 5px;
    border-radius: 5px;
    z-index: 150;
    box-shadow: 4px 4px 6px #0af;
    background: linear-gradient(to bottom, gold 0%, gold 20%, transparent 20%, transparent 40%, gold 40%, gold 60%, transparent 60%, transparent 80%, gold 80%, gold 100%);
    transition:background-color 1s;
}

button.open-menu:hover {
    background: linear-gradient(to bottom, #888 0%, #888 20%, transparent 20%, transparent 40%, #888 40%, #888 60%, transparent 60%, transparent 80%, #888 80%, #888 100%);
    background-color: deepskyblue;
}

button.open-menu:active {
    background: linear-gradient(to bottom, #090 0%, #090 20%, transparent 20%, transparent 40%, #090 40%, #090 60%, transparent 60%, transparent 80%, #090 80%, #090 100%);
}